:root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  --color-primary-0: #ffffff;
  --color-primary-10: #dee1e1;
  --color-primary-20: #bec3c5;
  --color-primary-30: #9fa6a9;
  --color-primary-40: #818a8d;
  --color-primary-50: #646f73;
  --color-primary-60: #50585b;
  --color-primary-70: #3c4244;
  --color-primary-80: #2a2e2f;
  --color-primary-90: #181a1b;
  --color-primary-100: #000000;
}
